.card {
  background-color: $charcoal;
}


.card-img-top {
  height: 15rem;
}


.card-title {
position: relative;
padding-bottom: 7%;
margin-bottom: 10%;
  &::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 35%;
    height: 100%;
    border-bottom: 0.2rem solid $neonGreen;
  }
}